@using WebSupport.Helpers
@using WebSupport.Models
@model WebSupport.ViewModels.CheckPointRequestViewModel
@{
    ViewBag.Title = "Price CheckPoint";
}
<div class="row container-fluid">
    @using (Html.BeginForm("Index", "CheckPointRequestToGPMController", null, FormMethod.Post, new { @class = "" }))
    {
        <div class="form-group">
            <div class="col-sm-offset-0 col-sm-2">
                @Html.LabelFor(m => m.RegionIndex, new { @class = "control-label" })
            </div>
            <div class="col-sm-4">
                @Html.DropDownListFor(m => m.RegionIndex, Model.OptionsForRegion, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.RegionIndex, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-0 col-sm-2">
                @Html.LabelFor(m => m.Store, new { @class = "control-label" })
            </div>
            <div class="col-sm-4">
                <div id="storesDiv" class="hidden">
                    <image src="@(Url.Content("~/Content/loading.gif"))" alt="Loading, please wait"></image>
                </div>

                @Html.DropDownListFor(m => m.Store, Model.OptionsForStores, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Store, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-0 col-sm-2">
                @Html.LabelFor(m => m.Item, new { @class = "control-label" })
            </div>
            <div class="col-sm-4">

                @Html.TextBoxFor(model => Model.Item)
                @Html.ValidationMessageFor(model => model.Item, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row"></div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-2">
                <input type="submit" value="Send Message" class="btn btn-danger form-submit col-md-offset-4" id="search-button" />
            </div>
        </div>

        <div class="row"></div>
        if (ViewBag.Error != null)
        {
            <div class="form-group">
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <strong>@ViewBag.Error</strong>
                </div>
            </div>
        }
    }
</div>