@using WebSupport.Helpers
@using WebSupport.Models
@model WebSupport.ViewModels.CheckPointRequestViewModel
@{
    ViewBag.Title = "Check Point Request";
}
<div class="row container-fluid">
    @using (Html.BeginForm("Index", "CheckPointRequest", null, FormMethod.Post, new { @class = "" }))
    {
        <div class="form-group">
            <div class="col-sm-offset-0 col-sm-2">
                @Html.LabelFor(m => m.RegionIndex, new { @class = "control-label" })
            </div>
            <div class="col-sm-4">
                @Html.DropDownListFor(m => m.RegionIndex, Model.OptionsForRegion, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.RegionIndex, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-0 col-sm-2">
                @Html.LabelFor(m => m.Store, new { @class = "control-label" })
            </div>
            <div class="col-sm-4">
                <div id="storesDiv" class="hidden">
                    <image src="@(Url.Content("~/Content/loading.gif"))" alt="Loading, please wait"></image>
                </div>

                @Html.DropDownListFor(m => m.Store, Model.OptionsForStores, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Store, "", new { @class = "text-danger" })
            </div>
        </div>
    
        <div class="form-group">
            <div class="col-sm-offset-0 col-sm-2">
                @Html.LabelFor(m => m.Item, new { @class = "control-label" })
            </div>
            <div class="col-sm-6"  style="margin-top:10px">

                @Html.TextBoxFor(model => Model.Item, new { style = "height:25px;" })
                @Html.ValidationMessageFor(model => model.Item, "", new { @class = "text-danger" })
            </div>
        </div>
         <div class="form-group" >
            <div class="col-sm-offset-7 col-sm-2">
                <input type="submit" value="Send Request" class="btn btn-danger form-submit col-md-offset-7" id="search-button" />
            </div>
        </div>

        <div class="row"></div>
        if (ViewBag.Error != null)
        {
            <div class="form-group">
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <strong>@ViewBag.Error</strong>
                </div>
            </div>
        }
    }
</div>

@section Scripts {
    <script type="text/javascript">

    var getStoresSuccessCallback = function (data, textStatus, xhr) {
        var storesControl = $("#Store");
        storesControl.empty();
        $.each(data,
            function (index, store) {
                storesControl.append(
                    $("<option />",
                        {
                            value: store.BusinessUnit,
                            text: store.BusinessUnit + ": " + store.Name
                        }))
            });
    }

    var getStoresErrorCallback = function (xhr, textStatus, errorThrown) {
        responseHTML = $.parseHTML(xhr.responseText);

        var errorInfo = "Error attempting to load store data for region.\n"
            + "url: \"@(Url.Action("Stores", "CheckPointRequest"))\"\n"
            + "data: \"" + $("#RegionIndex :selected").text() + "\" (" + $("#RegionIndex").val() + ")\n"
            + "call state: \"" + xhr.state() + "\".\n"
            + "response: \"" + errorThrown + "\" (" + xhr.status + ")\n"
            + "server error: \"" + $(responseHTML).find('h2').text() + "\"\n";
        console.log(errorInfo);
        console.log(xhr.responseText);
        alert(errorInfo)

        $("#Store").empty();
    }

    $("#RegionIndex").change(function () {
        var url = "@(Url.Action("Stores", "CheckPointRequest"))";
        var data = { regionCode: $(this).val() };

        var storesControl = $("#Store");
        var loadingDiv = $("#storesDiv");

        storesControl.fadeOut();
        storesControl.addClass("hidden");
        loadingDiv.removeClass("hidden");

        $.getJSON(url, data, getStoresSuccessCallback)
            .fail(getStoresErrorCallback);

        loadingDiv.addClass("hidden");
        storesControl.removeClass("hidden");
        storesControl.fadeIn();
    });
    </script>
}