@model Icon.Web.Mvc.Models.IrmaItemSearchViewModel

@Html.ActionLink("Export All New Items", "ExportAll", "IrmaItem", null, new { @class = "btn btn-light form-submit" })

@using (Ajax.BeginForm("Search", "IrmaItem", null, new AjaxOptions
{
    HttpMethod = "GET",
    UpdateTargetId = "searchResults",
    InsertionMode = InsertionMode.Replace,
    OnBegin = "searchButtonClick",
    OnSuccess = "displayResults",
    OnFailure = "displayModelValidation"
}, new { @class = "begin-form" }))
{
    <legend>Search Options</legend>
    <div class="form-group">
        @Html.LabelFor(model => Model.Identifier, new { @class = "form-label" })
        @Html.TextBoxFor(model => Model.Identifier, new { @class = "form-control form-input" })
        @Html.CheckBoxFor(model => Model.PartialScanCode, new { @class = "col-checkbox checkbox-attached-to-input" })
        @Html.LabelFor(model => Model.PartialScanCode, new { @class = "checkbox-label" })
        @Html.ValidationMessageFor(model => Model.Identifier, null, new { @class = "checkbox-label form-property-val" })
        @Html.ValidationMessageFor(model => Model.PartialScanCode, null, new { @class = "checkbox-label form-property-val" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => Model.BrandName, new { @class = "form-label" })
        @Html.TextBoxFor(model => Model.BrandName, new { @class = "form-control form-input .ui-autocomplete", data_icon_autocomplete = @Url.Action("BrandAutocomplete") })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => Model.ItemDescription, new { @class = "form-label" })
        @Html.TextBoxFor(model => Model.ItemDescription, new { @class = "form-control form-input" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => Model.RegionCode, new { @class = "form-label" })
        @Html.TextBoxFor(model => Model.RegionCode, new { @class = "form-control form-input" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => Model.TaxHierarchyName, new { @class = "form-label" })
        @Html.TextBoxFor(model => Model.TaxHierarchyName, new { @class = "form-control form-input .ui-autocomplete", data_icon_autocomplete = @Url.Action("TaxAutocomplete") })
    </div>
    <div class="">
        <input type="submit" value="Search" class="btn btn-light form-submit" id="search-button" />
    </div>

    <div class="row">
        <div class="col-md-6 page-subsection">
            @Html.ValidationSummary(true)
        </div>
    </div>
}