@using System.Web.UI.HtmlControls
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Telerik().ScriptRegistrar().jQuery(false).jQueryValidation(false)

<!DOCTYPE html>

<h2>Summary Report</h2>

<input type="hidden" id="selectedRegion" name="selectedRegion" value="@ViewBag.selectedRegion" />
@Html.Hidden("clientTodayDate", DateTime.Now.ToShortDateString())

<div id="controlsContainer">
    <div id="controls">

        @Html.DropDownList(
                                    "regionListSelected",
                                    new SelectList(ViewBag.regions as System.Collections.IEnumerable, "REGION_ABBR", "REGION_ABBR", ViewBag.selectedRegion),
                                    "Select a Region", new { id = "ddlRegions", style = "width:125px;" }
                )
        From:
        @Html.TextBox("selectedStartDate", DateTime.Now.AddDays(-7), new { id = "selectedStartDate" })
        To:
        @Html.TextBox("selectedEndDate", DateTime.Now, new { id = "selectedEndDate" })
        <button id="btnGenerateSummaryReport" onclick="RunReport(); return false;">Run Report</button>
        <span id="infomessage">@ViewBag.Message</span>
    </div>
</div>

<br />
<div id="oTableContainerOuter">
    <div id="oTableContainerInner">

        <span id="btn-expandall" class="btn">expand</span> /
        <span id="btn-collapseall" class="btn">collapse</span>
        <div id="oTable" class="oTable">
            <div class="oRow oRow-header">
                <div class="oCell fixed"></div>
                <div class="oCell align-right">Upload Count</div>
                <div class="oCell align-right">OOS Count</div>
                <div class="oCell align-right">OOS Percent</div>
            </div>
            <div class="oRow">
                <div id="loader" class="">
                    <img src="/Content/images/loading.gif" style="vertical-align: middle" /> Loading...
                </div>
            </div>
        </div>

    </div>
</div>
@section HeadContent
{
    <link rel="stylesheet" href="/Content/css/newSummaryGrid.css" />
    <link rel="stylesheet" href="/Content/css/jquery.simple-dtpicker.css" />
    <script type="text/javascript" src="/Scripts/handlebars.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/1.4.5/numeral.min.js"></script>
    <script type="text/javascript" src="/Scripts/NewSummaryGrid.js"></script>
    <script type="text/javascript" src="/Scripts/jquery.simple-dtpicker.js"></script>
    <script type="text/x-handlebars-template" id="store-row-template">
        <div class="oRow oRow-{{Type}} {{Collapsed}} {{HasChildren}} {{#if HasChildren}}clickable{{/if}}" data-id="{{Id}}" data-parent="{{Parent}}">
            <div class="oCell fixed">
                {{#if HasChildren}}
                <span class="plus"></span>
                {{else}}
                <span class="collapsed"></span>
                {{/if}} {{Name}}
            </div>
            <div class="oCell align-right">
                {{#ifCond type "store"}}{{scanCount}}{{/ifCond}}
            </div>
            <div class="oCell align-right">
                {{OosCount}}
            </div>
            <div class="oCell align-right">
                {{formattedPercent}}
            </div>
        </div>
    </script>

    <script type="text/x-handlers-template" id="grid-base-template">
        <div class="oRow oRow-header">
            <div class="oCell fixed"></div>
            <div class="oCell align-right">Upload Count</div>
            <div class="oCell align-right">OOS Count</div>
            <div class="oCell align-right">OOS Percent</div>
        </div>
        <div class="oRow">
            <div id="loader" class="">
                <img src="/Content/images/loading.gif" style="vertical-align: middle" /> Loading...
            </div>
        </div>
    </script>


    <script language="javascript">
        Handlebars.registerHelper('ifCond', function(v1, v2, options) {
            if (v1 === v2) {
                return options.fn(this);
            }
            return options.inverse(this);
        });

        var dtPickerOptions =
        {
            "todayButton": false,
            "closeOnSelected": true,
            "dateFormat": "MM/DD/YYYY hh:mm aa",
            "miuteInterval": 15
        }

        $(document).ready(function () {
            var sStartDate = $("#selectedStartDate"); //.appendDtpicker(dtPickerOptions);
            var sEndDate = $("#selectedEndDate");

            sStartDate.appendDtpicker(dtPickerOptions);
            sEndDate.appendDtpicker(dtPickerOptions);
            RunReport();
        });
    </script>
}

