@model Icon.Dashboard.Mvc.ViewModels.ServiceViewModel

@{
    var globalViewData = ViewBag.GlobalViewData as Icon.Dashboard.Mvc.ViewModels.GlobalViewData;
    string title = String.Format("View\\Edit Configuration for \"{0}\"", Model.DisplayName);
    ViewBag.Title =title;
}

<h3 class="text-center">@title</h3>

<div class="container-fluid">
    @if (Model.CommandsEnabled)
    {
        @Html.EditorForModel()
    }
    else
    {
        @Html.DisplayForModel()
    }


    @{Html.RenderPartial("_BackToListPartial", Model);}
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/dashboardCustomConfigFileSelectAlls.js")
}
