@model IEnumerable<Icon.Dashboard.Mvc.ViewModels.IconApplicationViewModel>
@{
    ViewBag.Title = "ICON Dashboard";
    var btnClass = Model?.FirstOrDefault()?.GetBootstrapClassForEnvironment() ?? "primary";
}

<p></p>
<div class="container-wide">
    <table class="table table-bordered table-condensed no-bottom-margin">
        <thead>
            <tr>
                <th class="text-center hidden-xs">
                    @Html.DisplayNameFor(model => model.TypeOfApplication)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.DisplayName)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.Server)
                </th>
                <th class="text-center hidden-xs hidden-sm hidden-md">
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th class="text-center hidden-xs hidden-sm">
                    @Html.DisplayNameFor(model => model.ConfigFilePath)
                </th>
                <th class="text-center hidden-xs hidden-sm">
                    @Html.DisplayNameFor(model => model.CurrentEsbEnvironment)
                </th>
                <th class="text-center hidden-xs hidden-sm hidden-md">
                    Data Flow
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.ValidCommands)
                </th>
            </tr>
        </thead>
        <tbody class="text-center">
            @Html.DisplayForModel()
        </tbody>
    </table>
    @Html.ActionLink(
    "Add New Application Definition",
    "Create",
    "Home",
    null,
    new { @class = $"btn btn-warning btn-block" })
</div>
