@using WebSupport.Helpers
@model WebSupport.ViewModels.EventCreatorViewModel

@{
    ViewBag.Title = "Create Mammoth Events";
}
<h3 class="text-center">@ViewBag.Title</h3>

<div id="searchOptions">
    <div class="row container-fluid">
        @using (Html.BeginForm("CreateEvents", "EventCreator", null, FormMethod.Post, new { @class = "begin-form col-md-12" }))
        {
            <fieldset>

                <div class="row">
                    @Html.Label("Region", new { @class = "form-label col-md-4" })
                    <div>
                        @Html.DropDownListFor(model => model.SelectedRegion,
                            Model.AvailableRegions,
                            null, new { @class = "form-label col-md-8" })
                    </div>
                </div>

                <div class="row">
                    @Html.Label("Event Type", new { @class = "form-label col-md-4" })
                    <div>
                        @Html.DropDownListFor(model => model.SelectedEventType,
                            Model.AvailableEventTypes,
                            null, new { @class = "form-label col-md-8" })
                    </div>
                </div>

                <div class="row">
                    @Html.Label(String.Format("Scan Codes (one per line, maximum {0})", 3000), new { @class = "form-label col-md-4" })
                    <div>
                        @Html.TextAreaFor(model => Model.ScanCodesText, 20, 20, new { @class = "form-input col-md-8" })
                        @Html.ValidationMessageFor(model => Model.ScanCodesText, null, new { @class = "col-md-4 form-property-val" })
                    </div>
                </div>
            </fieldset>

            <div class="row">
                <div style="margin: 5px 0px">
                    <input type="submit" value="Submit" class="btn btn-default form-submit col-md-offset-4" id="search-button" />
                </div>
            </div>
        }
    </div>

    <div>
        @if (ViewBag.CommandResultMessage != null)
        {
            <div id="createItemAlert" class="@BootstrapAlertHelper.AlertClass(ViewBag.Error)">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <strong>@ViewBag.CommandResultMessage</strong>
            </div>        
        }
    </div>

</div>

