@model Icon.Dashboard.Mvc.ViewModels.EsbEnvironmentViewModel

<div class="row">

    <div class="form-group col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title text-center">
                    <a data-toggle="collapse" href="#collapsibleEsbEnvironment@(Model.Name)">
                        @(ViewBag.Title ?? Model.Name + " ESB Environment Details")
                    </a>
                </h4>
            </div>
            <div id="collapsibleEsbEnvironment@(Model.Name)" class="panel-collapse collapse in">
                <div class="panel-body">

                    <div class="form-group col-xs-12 col-sm-6 col-lg-4">
                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-xs-4" })
                        <div class="col-xs-8">
                            @Html.DisplayFor(model => model.Name)
                        </div>
                    </div>
                    <div class="form-group col-xs-12 col-sm-6 col-lg-4">
                        @Html.LabelFor(model => model.ServerUrl, htmlAttributes: new { @class = "control-label col-xs-4" })
                        <div class="col-xs-8">
                            @Html.DisplayFor(model => model.ServerUrl)
                        </div>
                    </div>
                    <div class="form-group col-xs-12 col-sm-6 col-lg-4">
                        @Html.LabelFor(model => model.TargetHostName, htmlAttributes: new { @class = "control-label col-xs-4" })
                        <div class="col-xs-8">
                            @Html.DisplayFor(model => model.TargetHostName)
                        </div>
                    </div>
                    <div class="form-group col-xs-12 col-sm-6 col-lg-4">
                        @Html.LabelFor(model => model.JmsUsernameIcon, htmlAttributes: new { @class = "control-label col-xs-4" })
                        <div class="col-xs-8">
                            @Html.DisplayFor(model => model.JmsUsernameIcon)
                        </div>
                    </div>
                    <div class="form-group col-xs-12 col-sm-6 col-lg-4">
                        @Html.LabelFor(model => model.JmsPasswordIcon, htmlAttributes: new { @class = "control-label col-xs-4" })
                        <div class="col-xs-8">
                            @Html.DisplayFor(model => model.JmsPasswordIcon)
                        </div>
                    </div>
                    <div class="form-group col-xs-12 col-sm-6 col-lg-4">
                        @Html.LabelFor(model => model.JndiUsernameIcon, htmlAttributes: new { @class = "control-label col-xs-4" })
                        <div class="col-xs-8">
                            @Html.DisplayFor(model => model.JndiUsernameIcon)
                        </div>
                    </div>
                    <div class="form-group col-xs-12 col-sm-6 col-lg-4">
                        @Html.LabelFor(model => model.JndiPasswordIcon, htmlAttributes: new { @class = "control-label col-xs-4" })
                        <div class="col-xs-8">
                            @Html.DisplayFor(model => model.JndiPasswordIcon)
                        </div>
                    </div>
                    <div class="form-group col-xs-12 col-sm-6 col-lg-4">
                        @Html.LabelFor(model => model.JmsUsernameMammoth, htmlAttributes: new { @class = "control-label col-xs-4" })
                        <div class="col-xs-8">
                            @Html.DisplayFor(model => model.JmsUsernameMammoth)
                        </div>
                    </div>
                    <div class="form-group col-xs-12 col-sm-6 col-lg-4">
                        @Html.LabelFor(model => model.JmsPasswordMammoth, htmlAttributes: new { @class = "control-label col-xs-4" })
                        <div class="col-xs-8">
                            @Html.DisplayFor(model => model.JmsPasswordMammoth)
                        </div>
                    </div>
                    <div class="form-group col-xs-12 col-sm-6 col-lg-4">
                        @Html.LabelFor(model => model.JndiUsernameMammoth, htmlAttributes: new { @class = "control-label col-xs-4" })
                        <div class="col-xs-8">
                            @Html.DisplayFor(model => model.JndiUsernameMammoth)
                        </div>
                    </div>
                    <div class="form-group col-xs-12 col-sm-6 col-lg-4">
                        @Html.LabelFor(model => model.JndiPasswordMammoth, htmlAttributes: new { @class = "control-label col-xs-4" })
                        <div class="col-xs-8">
                            @Html.DisplayFor(model => model.JndiPasswordMammoth)
                        </div>
                    </div>
                    <div class="form-group col-xs-12 col-sm-6 col-lg-4">
                        @Html.LabelFor(model => model.JmsUsernameEwic, htmlAttributes: new { @class = "control-label col-xs-4" })
                        <div class="col-xs-8">
                            @Html.DisplayFor(model => model.JmsUsernameEwic)
                        </div>
                    </div>
                    <div class="form-group col-xs-12 col-sm-6 col-lg-4">
                        @Html.LabelFor(model => model.JmsPasswordEwic, htmlAttributes: new { @class = "control-label col-xs-4" })
                        <div class="col-xs-8">
                            @Html.DisplayFor(model => model.JmsPasswordEwic)
                        </div>
                    </div>
                    <div class="form-group col-xs-12 col-sm-6 col-lg-4">
                        @Html.LabelFor(model => model.JndiUsernameEwic, htmlAttributes: new { @class = "control-label col-xs-4" })
                        <div class="col-xs-8">
                            @Html.DisplayFor(model => model.JndiUsernameEwic)
                        </div>
                    </div>
                    <div class="form-group col-xs-12 col-sm-6 col-lg-4">
                        @Html.LabelFor(model => model.JndiPasswordEwic, htmlAttributes: new { @class = "control-label col-xs-4" })
                        <div class="col-xs-8">
                            @Html.DisplayFor(model => model.JndiPasswordEwic)
                        </div>
                    </div>

                    <div class="form-group col-xs-12">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" href="#collapsibleApplications@(Model.Name)">@Html.DisplayNameFor(model => model.AppsInEnvironment)</a>
                                </h4>
                            </div>
                            <div id="collapsibleApplications@(Model.Name)" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    @if (Model.AppsInEnvironment != null)
                                    {
                                        foreach (var associatedApplication in Model.AppsInEnvironment)
                                        {
                                            @Html.DisplayFor(model => associatedApplication, "IconEsbAppSummaryViewModel")
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

