@model Icon.Dashboard.Mvc.ViewModels.IconApplicationViewModel

@if (Model != null)
{
    var controllerName = ViewContext.RouteData.Values["controller"].ToString();
    string rowColorClass = Model.StatusIsGreen ? "success" : "danger";
    string rowTargetId = "target" + Model.Name + Model.Server;

<tr id="@rowTargetId" class="@rowColorClass">
    <td class="text-nowrap">
        @Html.DisplayFor(model => model.Server)
    </td>
    <td>
        @Html.ActionLink(Model.DisplayName, "Details", controllerName, new { application = Model.Name, server = Model.Server }, null)
        ("@Model.Name")
    </td>
    <td class="hidden-xs hidden-sm text-left breakText" style="max-width:50%;@(Model.ConfigFilePathIsValid ? "" : "background-color:#ffff99;")">
        @if (!String.IsNullOrWhiteSpace(Model.ConfigFilePath))
        {
            @Html.ActionLink(Model.ConfigFilePath, "Configure", controllerName, new { application = Model.Name, server = Model.Server }, null)
        }
    </td>
    <td class="hidden-xs hidden-sm">
        @Html.DisplayFor(model => model.CurrentEsbEnvironment)
    </td>
    <td>
        @Html.DisplayFor(model => model.Status)
    </td>
    <td>
        @{Html.RenderPartial("_CommandsPartial", Model);}
    </td>
</tr>
}