<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns= "http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="shortcut icon" type="image/ico" href="~/Content/Images/favicon.ico">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/datetimepicker")
    @RenderSection("scripts", required: false)
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand pull left" href="@Url.Action("Index", "Home")">Icon Dashboard @ViewBag.Environment</a>
            </div>
            <ul class="nav navbar-nav">
                <li>
                    <a href="@Url.Action("Index", "Home")">Home</a>
                </li>

                @if (ViewBag.MenuOptionsForIconAppLogs != null && ViewBag.MenuOptionsForIconAppLogs is IDictionary<Icon.Dashboard.Mvc.ViewModels.IconLoggedAppViewModel, bool>)
                {
                    Html.RenderPartial("_SubMenuForIconAppLogs", ViewBag.MenuOptionsForIconAppLogs as IDictionary<Icon.Dashboard.Mvc.ViewModels.IconLoggedAppViewModel, bool>);
                }
                else
                {
                    <li>
                        <a href="@Url.Action("Index", "IconLogs")">Icon App Logs</a>
                    </li>
                }

                @if (ViewBag.MenuOptionsForMammothAppLogs != null && ViewBag.MenuOptionsForMammothAppLogs is IDictionary<Icon.Dashboard.Mvc.ViewModels.IconLoggedAppViewModel, bool>)
                {
                    Html.RenderPartial("_SubMenuForMammothAppLogs", ViewBag.MenuOptionsForMammothAppLogs as IDictionary<Icon.Dashboard.Mvc.ViewModels.IconLoggedAppViewModel, bool>);
                }

                @if (ViewBag.MenuOptionsForApiJobs != null && ViewBag.MenuOptionsForApiJobs is IDictionary<string, bool>)
                {
                    Html.RenderPartial("_SubMenuForApiJobs", ViewBag.MenuOptionsForApiJobs as IDictionary<string, bool>);
                }
                else
                {
                    <li>
                        <a href="@Url.Action("Index", "ApiJobs")">API Job Monitor</a>
                    </li>
                }

                <li>
                    <a href="@Url.Action("Index", "Esb")">ESB Connections</a>
                </li>

                @{Html.RenderPartial("_SupportAppsPartial");}

                @{Html.RenderPartial("_EnvironmentSelectorPartial"); }
            </ul>
        </div>
    </nav>
    <div>
        @RenderBody()
    </div>
    <p></p>
    <footer id="footer">
        <p>&copy; @DateTime.Now.Year Whole Foods Market IP. L.P.</p>
    </footer>

</body>
</html>
