@*@model Icon.Web.Mvc.Models.BulkUploadViewModel*@
@using Icon.Web.Mvc.Utility
@using Infragistics.Web.Mvc

@{
    ViewBag.Title = "Bulk Upload";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*@{Html.RenderPartial("_HeaderPartial", "Bulk Upload");}*@

<div id="divLink">
    @if (ViewHelpers.HasWriteAccess(Request, User))
    {
        @Html.ActionLink("Download blank contact template", "ContactTemplateNewExporter", "Contact", null, new { @class = "text-nowrap" })
    }
</div>

@using (Html.BeginForm("BulkUpload", "Contact", null, FormMethod.Post, new { enctype = "multipart/form-data", @class = "begin-form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="container col-10">
        <div class="text-center py-3">
            <h2>Contact Management</h2>
            <p class="lead">Bulk Upload</p>
        </div>

        <div class="input-group mb-1">
            <div class="custom-file">
                <input accept=".xlsx" type="file" class="custom-file-input" id="inputGroupFile">
                <label class="custom-file-label" id="inputFileName" for="inputGroupFile"></label>
            </div>
            <div class="input-group-append">
                <span class="input-group-text btn-primary" id="uploadFile" onclick="uploadFile()">Upload</span>
            </div>
        </div>

        <p class="text-muted fine-print">*Only the Excel .xlsx file format is currently supported.</p>

        <div>
            <label class="text-muted">File upload history</label>
            <table id="bulkUploadStatusGrid" style="height:25px;" />
        </div>
        
    </div>
}

@*<div>
    <div>
        @Html.Label("Refresh Interval (in seconds):")
        @Html.DropDownList("refreshInterval", new List<SelectListItem>
            ()
            {
            new SelectListItem() { Value = "10", Text = "10" },
            new SelectListItem() { Value = "30", Text = "30", Selected = true},
            new SelectListItem() { Value = "60", Text = "60" },
            new SelectListItem() { Value = "300", Text = "300" }
            }, new { @class = "form-control" })
    </div>
    <table id="bulkUploadStatusGrid" />
</div>*@

<div id="dlgConfirm" title="User Confirmation Required" style="display:none;">
    <div style="max-height:500px; box-sizing:border-box;">
        <p id="dlgInfo">File: <span id="fileName"></span></p>
        <p id="dlgMsg"/>
        <ul id="ulList"></ul>
        <hr />
        <div id="finePrint">
            <span id="dlgFYI" class="fine-print text-info">File will be processed after validation is completed.</span>
            <div id="progress" class="progress">
                <div id="prgBar" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <a id="dlgLink" href='/Contact/DownloadRefFile'>Download Reference File</a>
        </div>

    </div>
</div>


@if (ViewData["BulkUploadType"].ToString() == "Item")
{
    @Scripts.Render("~/Scripts/Item/bulkupload.js")
}

@if (ViewData["BulkUploadType"].ToString() == "Contact")
{
    @Scripts.Render("~/Scripts/Contact/bulkupload.js")
}