@model WebSupport.ViewModels.JobScheduleViewModel

@{
    ViewBag.Title = "Edit " + @Model.JobName + " Job Schedule";
}
<h3 class="text-center">@ViewBag.Title</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @* use the shared editor template for the fields in the model *@
        @Html.EditorForModel()

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
<script type="text/javascript">
$(document).ready(function () {
    @* must init bootstrap/moment.js datetimepicker*@
    $('#StartDateTime').datetimepicker({
        defaultDate: '@Model.StartDateTime',
        format: '@WebSupport.Models.ValidationConstants.JavascriptDateTimePickerFormat'
    });
    @* must enable bootstrap tooltips in js *@
    $('[data-toggle="tooltip"]').tooltip();
});
</script>
}
