@model Icon.Web.Mvc.Models.CertificationAgencyViewModel

@{
    ViewBag.Title = "Delete Certification Agency";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{Html.RenderPartial("_HeaderPartial", "Certification Agency Management");}

@using (Html.BeginForm("Delete", "CertificationAgency", FormMethod.Post, new { @class = "begin-form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    @Html.HiddenFor(m => m.HierarchyClassId)


    <fieldset>
        <div class="row">
            @Html.LabelFor(model => model.AgencyName, new { @class = "form-label" })
            @Html.TextBoxFor(model => model.AgencyName, new { @disabled = "disabled", @class = "form-control form-input" })
        </div>

        <div class="row">
            @Html.LabelFor(model => model.GlutenFree, new { @class = "form-label" })
            @Html.CheckBoxFor(model => model.GlutenFree, new { @disabled = "disabled", @class = "col-checkbox" })

        </div>
        <div class="row">
            @Html.LabelFor(model => model.Kosher, new { @class = "form-label" })
            @Html.CheckBoxFor(model => model.Kosher, new { @disabled = "disabled", @class = "col-checkbox" })
        </div>
        <div class="row">
            @Html.LabelFor(model => model.NonGMO, new { @class = "form-label" })
            @Html.CheckBoxFor(model => model.NonGMO, new { @disabled = "disabled", @class = "col-checkbox" })
        </div>
        <div class="row">
            @Html.LabelFor(model => model.Organic, new { @class = "form-label" })
            @Html.CheckBoxFor(model => model.Organic, new { @disabled = "disabled", @class = "col-checkbox" })
        </div>
        <div class="row">
            @Html.LabelFor(model => model.Vegan, new { @class = "form-label" })
            @Html.CheckBoxFor(model => model.Vegan, new { @disabled = "disabled", @class = "col-checkbox" })
        </div>
    </fieldset>
    <div class="row">
        <input type="submit" value="Delete" class="btn btn-danger form-submit" />
    </div>
}

<div class="page-subsection">
    @if (ViewData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>@ViewData["ErrorMessage"].ToString()</strong>
        </div>
    }
</div>

<div class="page-subsection">
    @Html.ActionLink("Return To Certification Agency Management", "Index")
</div>

