@model Icon.Web.Mvc.Models.CertificationAgencyViewModel

@{
    ViewBag.Title = "Delete Certification Agency";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{Html.RenderPartial("_HeaderPartial", "Certification Agency Management");}

@using (Html.BeginForm("Delete", "CertificationAgency", FormMethod.Post, new { @class = "begin-form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    @Html.HiddenFor(m => m.HierarchyClassId)


    <fieldset>
        <legend>Delete Certification Agency</legend>

        <div class="row">
            @Html.LabelFor(model => model.AgencyName, new { @class = "form-label col-md-2" })
            <div>
                @Html.TextBoxFor(model => model.AgencyName, new { @disabled = "disabled", @class = "col-md-6 form-input" })
            </div>
        </div>

        <div class="row">
            @Html.LabelFor(model => model.GlutenFree, new { @class = "form-label col-md-2" })
            <div>
                @Html.CheckBoxFor(model => model.GlutenFree, new { @disabled = "disabled", @class = "col-checkbox" })
            </div>
        </div>
        <div class="row">
            @Html.LabelFor(model => model.Kosher, new { @class = "form-label col-md-2" })
            <div>
                @Html.CheckBoxFor(model => model.Kosher, new { @disabled = "disabled", @class = "col-checkbox" })
            </div>
        </div>
        <div class="row">
            @Html.LabelFor(model => model.NonGMO, new { @class = "form-label col-md-2" })
            <div>
                @Html.CheckBoxFor(model => model.NonGMO, new { @disabled = "disabled", @class = "col-checkbox" })
            </div>
        </div>
        <div class="row">
            @Html.LabelFor(model => model.Organic, new { @class = "form-label col-md-2" })
            <div>
                @Html.CheckBoxFor(model => model.Organic, new { @disabled = "disabled", @class = "col-checkbox" })
            </div>
        </div>
        <div class="row">
            @Html.LabelFor(model => model.Vegan, new { @class = "form-label col-md-2" })
            <div>
                @Html.CheckBoxFor(model => model.Vegan, new { @disabled = "disabled", @class = "col-checkbox" })
            </div>
        </div>
    </fieldset>
    <div class="row">
        <div class="col-md-offset-3 col-md-1">
            <input type="submit" value="Delete" class="btn btn-default form-submit" />
        </div>
    </div>
}

<div class="page-subsection">
    @if (ViewData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>@ViewData["ErrorMessage"].ToString()</strong>
        </div>
    }
</div>

<div class="page-subsection">
    @Html.ActionLink("Return To Certification Agency Management", "Index")
</div>

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}
