@using Infragistics.Web.Mvc
@using Icon.Web.Mvc.Utility
@using Icon.Web.Common.BulkUpload
@model Icon.Web.Mvc.Models.BrandViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{Html.RenderPartial("_HeaderPartial", "Brands");}

<style>
    #divLinks {
        display: flex;
        align-items: center;
    }
</style>

<div id="brands" class="page-section">

    <div id="divLinks">
        @Html.ActionLink("Export All Brands", "Export", "Brand", null, new { @class = "btn btn-light" })
        @Html.ActionLink("Download Brand Template", "BrandTemplateExport", "Brand", null, new { @class = "btn btn-light ml-1" })

        @if (ViewHelpers.HasWriteAccess(Request, User))
        {
            @Html.ActionLink("Add New Brand", "Create", null, new { @class = "btn btn-light ml-1" })
            @Html.ActionLink("Bulk Upload Brands", "Index", "BulkUpload", new { bulkUploadDataType = BulkUploadDataType.Brand.ToString() }, new { @class = "btn btn-light ml-1" })
        }
    </div>
    <hr />

    @(Html.Infragistics().Grid<Icon.Web.Mvc.Models.BrandViewModel>()
            .ID("brandGrid")
            .PrimaryKey("HierarchyClassId")
            .AvgRowHeight("25px")
            .Height("700px")
            .Width("100%")
            .AutoGenerateColumns(false)
            .Columns(columns =>
            {
              columns.For(c => c.HierarchyClassId).HeaderText("Brand ID").DataType("number").Width("10%");
              columns.For(c => c.BrandName).HeaderText("Brand Name").DataType("string").Width("25%");
              columns.For(c => c.BrandAbbreviation).HeaderText("Brand Abbreviation").DataType("string").Width("15%");
              columns.For(c => c.Designation).HeaderText("Designation").DataType("string").Width("10%");
              columns.For(c => c.ParentCompany).HeaderText("Parent Company").DataType("string").Width("10%");
              columns.For(c => c.ZipCode).HeaderText("Zip Code").DataType("string").Width("10%");
              columns.For(c => c.Locality).HeaderText("Locality").DataType("string").Width("10%");
              columns.Unbound("ActionEdit").Template("&nbsp&nbsp&nbsp&nbsp <a href='/Brand/Edit?hierarchyClassId=${HierarchyClassId}'>Edit</a>").Width("5%").HeaderText("").Hidden(Model == null ? true : ((int)Model.UserWriteAccess) == 0);
              columns.Unbound("ActionDelete").Template("&nbsp&nbsp&nbsp&nbsp&nbsp <input type='button' class='btn btn-link' value='Delete' style='color:darkred;' onclick='deleteHC(${HierarchyClassId})' />").Width("8%").HeaderText("").Hidden(Model == null ? true : !((Model.UserWriteAccess & Icon.Web.Common.Enums.WriteAccess.Full) == Icon.Web.Common.Enums.WriteAccess.Full));
            })
            .Features(features =>
            {
              features.Paging().PageSize(20);
              features.Sorting().Inherit(true);
              features.Filtering().Inherit(true);

            })
            .DataSourceUrl(Url.Action("All", "Brand"))
            .DataBind()
            .Render())

    <div class="search-alert page-subsection"></div>

</div>

<div id="dlgConfirm" title="User Confirmation Required" style="display:none;">
    <div style="max-height:300px; box-sizing:border-box;">
        <p id="dlgInfo" />
        <div class="clearfix">
            <label id="dlgMsg" class="float-left"></label>
            <span id="msgSpinner" class="spinner-border spinner-border-sm float-right" role="status" style="display:none" />
        </div>

        <hr />
        <div id="finePrint" class="fine-print text-info">
            <span>In order to delete the following requirement must be met:</span>
            <ul>
                <li>Brand should not have any item associated to it.</li>
                <li>Brand should not have Contact associated to it. </li>
            </ul>
        </div>
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/Scripts/Brand/brand-index.js")
    @Scripts.Render("~/Scripts/jquery.fileDownload.js")
}