@using Infragistics.Web.Mvc
@model IEnumerable<Icon.Web.Mvc.Models.FailedPriceMessageViewModel>

@Scripts.Render("~/Scripts/Infragistics/js/infragistics.loader.js")

@(Html.Infragistics().Loader()
    .ScriptPath(Url.Content("~/Scripts/Infragistics/js/"))
    .CssPath(Url.Content("~/Content/Infragistics/css/"))
    .Render()
)

@{Html.RenderPartial("_HeaderPartial", "Failed Price Messages");}

<div id="alert">

</div>

<div class="page-section">
    @if (!Model.Any())
    {
        <h4>No failed price messages were found.</h4>
    }
    else
    {
        @(Html.Infragistics().Grid(Model.AsQueryable())
            .ID("igGrid")
            .Width("100%")
            .PrimaryKey("Id")
            .AutoGenerateColumns(false)
            .AutoCommit(true)
            .Columns(column =>
            {
                column.For(vm => vm.Id).HeaderText("Message Queue Id");
                column.For(vm => vm.RegionCode).HeaderText("Region Code");
                column.For(vm => vm.BusinesUnit_ID).HeaderText("Business Unit Id");
                column.For(vm => vm.LocaleName).HeaderText("Locale Name");
                column.For(vm => vm.ScanCode).HeaderText("Scancode");
                column.For(vm => vm.ChangeType).HeaderText("Change Type");
                column.For(vm => vm.Price).HeaderText("Price");
                column.For(vm => vm.SalePrice).HeaderText("Sale Price");
                column.For(vm => vm.InsertDate).HeaderText("Insert Date");
                column.For(vm => vm.ProcessedDate).HeaderText("Processed Date");
            })
            .Features(features =>
            {
                features.Selection().MultipleSelection(true).Mode(SelectionMode.Row);
                features.Updating().EnableAddRow(false).EnableDeleteRow(false).EditMode(GridEditMode.None);
            })
            .DataBind()
            .Render()
        )

        <button id="reprocess" class="btn btn-default form-submit">Reprocess Failed Records</button>
    }
</div>

@section scripts
{
    @Scripts.Render("~/Scripts/common-search.js")
    @Scripts.Render("~/Scripts/Common/reprocess-failed-data.js")
    @Scripts.Render("~/Scripts/FailedPriceMessage/index.js")
}

