@model Icon.Web.Mvc.Models.BulkScanCodeSearchViewModel

@{
    ViewBag.Title = "Bulk Scan Code Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section headerScripts
{
    
    @Scripts.Render("~/Scripts/BulkScanCodeSearch/bulk-scan-code-search.js")
    @Scripts.Render("~/Scripts/Common/display-alert.js")
    @Scripts.Render("~/Scripts/igGrid/iggrid-item-search-formatting.js")
    @Scripts.Render("~/Scripts/igGrid/iggrid-item-search-validation.js")
    @Scripts.Render("~/Scripts/igGrid/iggrid-item-search-editing.js")
    @Scripts.Render("~/Scripts/jquery-disable.js")
    @Scripts.Render("~/Scripts/excel-export.js")
    @Scripts.Render("~/Scripts/jquery.fileDownload.js")
}


@{Html.RenderPartial("_HeaderPartial", "Bulk Scan Code Search");}

<div id="searchOptions" class="page-section">
    <div class="row">
        @using (Html.BeginForm("Search", "BulkScanCodeSearch", null, FormMethod.Post, new { @class = "begin-form" }))
        {
        <fieldset>
            <legend>Text Entry</legend>
            <div class="form-group">
                @Html.Label(String.Format("Scan Codes (one per line, maximum {0})", Model.BulkScanCodeSearchLimit), new { @class = "form-label" })
                @Html.TextAreaFor(model => Model.TextAreaViewModel.ScanCodes, 15, 13, new { @class = "form-control form-input", @type = "number" })
                @Html.ValidationMessageFor(model => Model.TextAreaViewModel.ScanCodes)
            </div>
            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-light form-submit col-md-offset-4" id="search-button" />
            </div>
        </fieldset>

         
        }

        @using (Html.BeginForm("Upload", "BulkScanCodeSearch", null, FormMethod.Post, new { enctype = "multipart/form-data", @class = "begin-form col-md-6" }))
        {
    <fieldset>
        <legend>File Upload</legend>
        <div class="form-group">
            @Html.LabelFor(model => Model.FileUploadViewModel.TextFileAttachment, new { @class = "form-label" })
            <input type="file" name="FileUploadViewModel.TextFileAttachment" class="form-control-file" accept="text/plain" />
            <p>Select a .txt file with up to @Model.BulkScanCodeSearchLimit scan codes (one per line).</p>
            @Html.ValidationMessageFor(model => Model.FileUploadViewModel.TextFileAttachment)
        </div>
        <div class="form-group">
            <input type="submit" value="Upload" class="btn btn-light form-submit" id="upload-button" />
        </div>
    </fieldset>      
        }
    </div>
</div>

<div id="overLimitValidationSummary" class="page-section row">

    @if (Model.OverLimitScanCodeCount > 0)
    {
        <hr />
        
        <div class="col-md-8 col-md-offset-1">
            <p class="field-validation-error">
                The search contained @Model.OverLimitScanCodeCount scan codes over the allowed limit.  To avoid excluding any potential results, please restrict your
                search to @Model.BulkScanCodeSearchLimit scan codes.
            </p>
        </div>
    }
    
</div>

<div id="invalidOrNotFoundValidationSummary" class="page-section row">

    @if (Model.InvalidOrNotFoundScanCodes != null && Model.InvalidOrNotFoundScanCodes.Count > 0)
    {
        <hr />
        
        <div class="col-md-8 col-md-offset-1">
            <p class="field-validation-error">The search contained @Model.InvalidOrNotFoundScanCodes.Count scan codes which were invalid or not found in Icon:</p>
            <p>@String.Join(", ", Model.InvalidOrNotFoundScanCodes)</p>
        </div>
    }

</div>

<div id="searchResults" class="page-section">

    @Html.Partial("_ItemSearchResults", Model.ItemSearchResults, new ViewDataDictionary { { "displayAddItemLink", false } })

</div>

