@using MessageGenerationWeb.ViewModels
@model SpreadsheetViewModel
@{
    ViewBag.Title = "Import Delete";
}

<h2>Import Delete</h2>

@using (Html.BeginForm("ImportDelete", "ItemPrice", null, FormMethod.Post, new { enctype = "multipart/form-data", @class = "begin-form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Select a spreadsheet to import.</legend>

        @Html.LabelFor(model => Model.ExcelAttachment)

        <input type="file" name="ExcelAttachment" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
        <p class="help-block">Only the Excel .xlsx file format is currently supported.</p>

        <div class="validation-section">
            @Html.ValidationMessageFor(model => Model.ExcelAttachment)
        </div>
    </fieldset>

    <input type="submit" value="Import Spreadsheet" id="importButton" class="btn btn-default form-submit" />
}

@if(ViewBag.Message != null)
{
    <h2>@ViewBag.Message</h2>
}
