@model Icon.Web.Mvc.Models.PluSearchViewModel

@using (Ajax.BeginForm("Search", "PluMapping", null, new AjaxOptions
    {
        HttpMethod = "GET",
        UpdateTargetId = "searchResults",
        InsertionMode = InsertionMode.Replace,
        OnBegin = "searchButtonClick",
        OnSuccess = "displayResults",
        OnFailure = "displayModelValidation"
    }, new { @class = "begin-form" }))
{
    <fieldset>
        <legend>Search Options</legend>
        <div class="form-group">
            @Html.LabelFor(model => Model.NationalPlu, new { @class = "form-label" })
            <div>
                @Html.TextBoxFor(model => Model.NationalPlu, new { @class = "form-control form-input" })
                @Html.ValidationMessageFor(model => Model.NationalPlu, null, new { @class = "form-property-val" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => Model.RegionalPlu, new { @class = "form-label" })
            <div>
                @Html.TextBoxFor(model => Model.RegionalPlu, new { @class = "form-control form-input" })
                @Html.ValidationMessageFor(model => Model.RegionalPlu, null, new { @class = "form-property-val" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => Model.BrandName, new { @class = "form-label" })
            <div>
                @Html.TextBoxFor(model => Model.BrandName, new { @class = "form-control form-input" })
                @Html.ValidationMessageFor(model => Model.BrandName, null, new { @class = "form-property-val" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => Model.PluDescription, new { @class = "form-label" })
            <div>
                @Html.TextBoxFor(model => Model.PluDescription, new { @class = "form-control form-input" })
                @Html.ValidationMessageFor(model => Model.PluDescription, null, new { @class = "form-property-val" })
            </div>
        </div>
    </fieldset>

    <div class="form-group">
        <input type="submit" value="Search" id="searchButton" class="btn btn-light form-submit" />
    </div>
    <div class="page-subsection">
        @Html.ValidationSummary(true)
    </div>
}