@model Icon.Web.Mvc.Models.AttributeViewModel

<div id="NumberValidationRule">
    <div class="form-group">
        @Html.LabelFor(model => model.MinimumNumber, new { @class = "form-label" })
        @Html.TextBoxFor(model => model.MinimumNumber, new { @class = "form-control form-input", @id = "minimumNumber", @type = "number" })
        @Html.ValidationMessageFor(model => model.MinimumNumber, null, new { @class = "form-property-val" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.MaximumNumber, new { @class = "form-label" })
        @Html.TextBoxFor(model => model.MaximumNumber, new { @class = "form-control form-input", @id = "maximumNumber", @type = "number" })
        @Html.ValidationMessageFor(model => model.MaximumNumber, null, new { @class = "form-property-val" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.NumberOfDecimals, new { @class = "form-label" })
        @Html.TextBoxFor(model => model.NumberOfDecimals, new { @class = "form-control form-input", @id = "numberOfDecimals", @type = "number" })
        @Html.ValidationMessageFor(model => model.NumberOfDecimals, null, new { @class = "form-property-val" })
    </div>
</div>
