@model Icon.Dashboard.Mvc.ViewModels.EsbEnvironmentViewModel

<p></p>
<div class="container-wide">
    @using (Html.BeginForm("Create", "EsbSwitch", new { name = Model.Name }, FormMethod.Post, null))
    {
        @Html.EditorForModel();

        <div class="row">
            <div class="col-xs-offset-2 col-xs-8">
                <button type="submit" value="Create" class="btn btn-warning btn-block">Create</button>
            </div>
        </div>
    }

    <div class="row">
        <p></p>
        <div class="col-xs-offset-2 col-xs-8 text-center">
            @Html.ActionLink("Back to List", "Index")
        </div>
    </div>

</div>

@section scripts {
    <script type="text/javascript">
        @* set js variable from razor, for use in script when editing/creating the esb environment *@
        var urlToAddEsbEnvironmentApp = "@Url.Action("AddApplicationRow")";
    </script>

    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/dashboardCustomEsbSwitchAddRemove.js")
    @Scripts.Render("~/Scripts/esbSwitch.js")
}