@model Icon.Web.Mvc.Models.ItemEditViewModel

<h3>Item Details</h3>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Scan Code</th>
            <th>Brand</th>
            <th>Product Description</th>
            <th>POS Description</th>
            <th>Item Pack</th>
            <th>Size</th>
            <th>UOM</th>
            <th>Food Stamp Eligible</th>
            <th>POS Scale Tare</th>
            <th>Merchandise Hierarchy</th>
            <th>Tax Class</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.ScanCode</td>
            <td>@Model.BrandName</td>
            <td>@Model.ProductDescription</td>
            <td>@Model.PosDescription</td>
            <td>@Model.PackageUnit</td>
            <td>@Model.RetailSize</td>
            <td>@Model.RetailUom</td>
            <td>@Model.FoodStampEligible</td>
            <td>@Model.PosScaleTare</td>
            <td>@Model.MerchandiseHierarchyClassLineage</td>
            <td>@Model.TaxHierarchyClassLineage</td>
        </tr>
    </tbody>
</table>
