@model Icon.Web.Mvc.Models.ItemDetailViewModel
@using Icon.Common;
@{
    ViewBag.Title = Model.ItemViewModel.ScanCode + " Details";
    var itemViewModel = Model.ItemViewModel;
}
<h3>Item Details</h3>

<div class="page-section">
    @Html.ActionLink("Edit", "Edit", new { Model.ItemViewModel.ScanCode }) |
    @Html.ActionLink("Back to Search", "Index")
</div>

<div class="page-section">

    @Html.ActionLink("Infor History", "History", new { scanCode = Model.ItemViewModel.ScanCode }, new { @class = "infor-history-button", target = "_blank" })

    @{Html.RenderPartial("_ReadOnlyAttributesPartial", Model.ItemViewModel.ItemAttributes);}

    @{Html.RenderPartial("_ItemHistoryPartial", Model.ItemHistoryModel);}

    @if (Model.ItemViewModel.Nutritions != null && Model.ItemViewModel.Nutritions.Any())
    {
        <div id="NutritionContainer">
            <h5>Nutrition Details</h5>

            <div id="ItemNutritionContainer">
                <table class="nutrTable">
                    @*style="table-layout:fixed">*@
                    @foreach (var itm in Model.ItemViewModel.Nutritions)
                    {
                        <tr>
                            <td>@itm.Key</td>
                            <td>@itm.Value</td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    }
</div>
<div class="page-section">
    @foreach (var field in Model.OrderOfFields)
    {
        if (field.Value != "A")
        {

            if (field.Key == "ItemId")
            {
                <div class="item">
                    @Html.LabelFor(m => m.ItemViewModel.ItemId)
                    <div>@Model.ItemViewModel.ItemId</div>
                </div>
            }
            else if (field.Key == "ItemType")
            {
                <div class="item">
                    @Html.LabelFor(m => m.ItemViewModel.ItemTypeDescription)
                    <div>@Model.ItemViewModel.ItemTypeDescription</div>
                </div>
            }

            else if (field.Key == "ScanCode")
            {
                <div class="item">
                    @Html.LabelFor(m => m.ItemViewModel.ScanCode)
                    <div>@Model.ItemViewModel.ScanCode</div>
                </div>
            }
            else if (field.Key == "BarcodeType")
            {
                <div class="item">
                    @Html.LabelFor(m => m.ItemViewModel.BarcodeType)
                    <div>@Model.ItemViewModel.BarcodeType</div>
                </div>
            }
            else if (field.Key == "Merchandise")
            {
                <div class="item">
                    @Html.LabelFor(m => m.ItemViewModel.MerchandiseHierarchyLineage)
                    <div>@Model.ItemViewModel.MerchandiseHierarchyLineage</div>
                </div>
            }
            else if (field.Key == "Brand")
            {
                <div class="item">
                    @Html.LabelFor(m => m.ItemViewModel.BrandsHierarchyLineage)
                    <div>@Model.ItemViewModel.BrandsHierarchyLineage</div>
                </div>
            }

            else if (field.Key == "Tax")
            {
                <div class="item">
                    @Html.LabelFor(m => m.ItemViewModel.TaxHierarchyLineage)
                    <div>@Model.ItemViewModel.TaxHierarchyLineage</div>
                </div>
            }
            else if (field.Key == "Financial")
            {
                <div class="item">
                    @Html.LabelFor(m => m.ItemViewModel.FinancialHierarchyLineage)
                    <div>@Model.ItemViewModel.FinancialHierarchyLineage</div>
                </div>
            }
            else if (field.Key == "National")
            {
                <div class="item">
                    @Html.LabelFor(m => m.ItemViewModel.NationalHierarchyLineage)
                    <div>@Model.ItemViewModel.NationalHierarchyLineage</div>
                </div>
            }
            else if (field.Key == "Manufacturer")
            {
                <div class="item">
                    @Html.LabelFor(m => m.ItemViewModel.ManufacturerHierarchyLineage)
                    @if (string.IsNullOrWhiteSpace(Model.ItemViewModel.ManufacturerHierarchyLineage))
                    {
                        <div>-</div>
                    }
                    else
                    {
                        <div>@Model.ItemViewModel.ManufacturerHierarchyLineage</div>
                    }
                </div>
            }
        }

        else
        {
            var attribute = Model.Attributes.Where(a => a.AttributeName == field.Key).FirstOrDefault();

            if (attribute != null)
            {

                if (attribute.IsSystemAttribute)
                {
                    continue;
                }
                <div class="item">
                    @Html.Label(attribute.DisplayName)
                    @if (itemViewModel.ItemAttributes.ContainsKey(attribute.AttributeName))
                    {
                        if (attribute.DataTypeName == "Date")
                        {
                            string dateValue = itemViewModel.ItemAttributes[attribute.AttributeName].ToString();
                            if (!string.IsNullOrWhiteSpace(dateValue))
                            {
                                <div>@Convert.ToDateTime(dateValue).ToString("yyyy-MM-dd")</div>
                            }
                            else
                            {
                                <div>@dateValue</div>
                            }
                        }
                        else
                        {
                            <div>@itemViewModel.ItemAttributes[attribute.AttributeName].ToString()</div>
                        }
                    }
                    else
                    {
                        <div>-</div>
                    }
                </div>
            }
        }
    }
</div>

<div class="form-footer">
    @Html.ActionLink("Edit", "Edit", new { Model.ItemViewModel.ScanCode }) |
    @Html.ActionLink("Back to Search", "Index")
</div>
