@using Infragistics.Web.Mvc
@using Icon.Web.DataAccess.Models
@model Icon.Web.Mvc.Models.BulkImportViewModel<BulkImportCertificationAgencyModel>

@{
    ViewBag.Title = "Import";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Scripts.Render("~/Scripts/Infragistics/js/infragistics.loader.js")

@(Html.Infragistics().Loader()
    .ScriptPath(Url.Content("~/Scripts/Infragistics/js/"))
    .CssPath(Url.Content("~/Content/Infragistics/css/"))
    .Render()
)

@{Html.RenderPartial("_HeaderPartial", "Bulk Certification Agency Import");}

<div class="page-section">
    <hr />
    @if (Model.ValidItemsCount == 0)
    {
        <h4>No certification agencies have been imported.</h4>
    }
    else
    {
        <h4>Successfully imported @Model.ValidItemsCount Certification Agencies.</h4>
    }
    <div>@Html.ActionLink("Back To Bulk Certification Agency Import", "Index") | @Html.ActionLink("Back To Certification Agencies", "Index", "CertificationAgency", null, null)</div>
</div>

@if (Model.ErrorItems.Count > 0)
{
    <div class="page-section">
        <hr />
        <div class="page-subsection">
            <h4>Errors were found for the following certification agencies.  You may export these certification agencies, make corrections, and attempt the import again.</h4>
        </div>

        <div class="page-subsection">
            @(Html.Infragistics().Grid(Model.ErrorItems.AsQueryable())
                .ID("igGrid")
                .Width("100%")
                .AutoGenerateColumns(false)
                .Columns(column =>
                {
                    column.For(ca => ca.CertificationAgencyNameAndId).HeaderText("Agency").Width("20%");
                    column.For(ca => ca.Error).HeaderText("Error").Width("80%");
                })
                .Features(features =>
                {
                    features.Paging().PageSize(20);
                    features.Resizing();
                    features.Sorting().ApplyColumnCss(false);
                    features.Tooltips()
                        .Visibility(TooltipsVisibility.Overflow);
                })
                .DataBind()
                .Render()
            )
        </div>

        @Html.ActionLink("Export", "BulkCertificationAgencyExport", "Excel", null, new { @class = "btn btn-default form-submit" })
    </div>
}