@using Infragistics.Web.Mvc
@using Icon.Framework
@model Icon.Web.Mvc.Models.HierarchyClassViewModel

@{ string hierarchyName = Model.HierarchyName; }

@{
	ViewBag.Title = String.Format("New {0}", Model.HierarchyLevelName);
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@{Html.RenderPartial("_HeaderPartial", "Hierarchy Class Management");}

<div class="page-section">
	@using (Html.BeginForm("Create", "HierarchyClass", FormMethod.Post, new { @class = "begin-form" }))
	{
		@Html.AntiForgeryToken()
		@Html.ValidationSummary(true)

		@Html.HiddenFor(model => model.HierarchyId)
		@Html.HiddenFor(model => model.HierarchyName)
		@Html.HiddenFor(model => model.HierarchyClassId)
		@Html.HiddenFor(model => model.HierarchyLevel)
		@Html.HiddenFor(model => model.HierarchyParentClassId)
		@Html.HiddenFor(model => model.HierarchyParentClassName)
        @Html.HiddenFor(model => model.HierarchyLevelName)

		<fieldset>
			<legend>@ViewBag.Title</legend>

			<div class="row">
				@Html.LabelFor(model => model.HierarchyName, new { @class = "col-md-2 form-label" })
				<div>
					@Html.TextBoxFor(model => model.HierarchyName, new { @disabled = "disabled", @class = "col-md-6 form-input" })
				</div>
			</div>

			@if (!String.IsNullOrEmpty(Model.HierarchyParentClassName))
			{
				<div class="row">
					@Html.LabelFor(model => model.HierarchyParentClassName, new { @class = "col-md-2 form-label" })
					<div>
						@Html.TextBoxFor(model => model.HierarchyParentClassName, new { @disabled = "disabled", @class = "col-md-6 form-input" })
					</div>
				</div>
			}

			<div class="row">
				@Html.LabelFor(model => model.HierarchyClassName, "New Class Name", new { @class = "col-md-2 form-label" })
				<div>
					@Html.TextBoxFor(model => model.HierarchyClassName, new { @class = "col-md-6 form-input" })
					@Html.ValidationMessageFor(model => model.HierarchyClassName, null, new { @class = "col-md-4 form-property-val" })
				</div>
			</div>
			<br />
			@if (hierarchyName == HierarchyNames.Tax)
			{
				<div class="row">
					@Html.LabelFor(model => model.TaxAbbreviation, new { @class = "col-md-2 form-label" })
					<div>
						@Html.TextBoxFor(model => model.TaxAbbreviation, new { @class = "col-md-6 form-input" })
						@Html.ValidationMessageFor(model => model.TaxAbbreviation)
					</div>
				</div>
                <div class="row">
					@Html.LabelFor(model => model.TaxRomance, new { @class = "col-md-2 form-label" })
					<div>
						@Html.TextBoxFor(model => model.TaxRomance, new { @class = "col-md-6 form-input" })
						@Html.ValidationMessageFor(model => model.TaxRomance)
					</div>
				</div>
			}
			else if (hierarchyName == HierarchyNames.Merchandise)
			{
				if (Model.HierarchyLevel == 5)
				{
					<div class="row">
						@Html.LabelFor(model => model.SubTeam, new { @class = "col-md-2 form-label" })
						<div>
							@Html.DropDownListFor(model => model.SelectedSubTeam, Model.SubTeamList, "--Select Sub-Team--", new { @class = "col-md-6 form-input" })
							@Html.ValidationMessageFor(model => model.SelectedSubTeam, null, new { @class = "col-md-4 form-property-val" })
						</div>
					</div>  
                    <div class="row">
						@Html.LabelFor(model => model.NonMerchandiseTrait, new { @class = "col-md-2 form-label" })
						<div>
							@Html.DropDownListFor(model => model.SelectedNonMerchandiseTrait, Model.NonMerchandiseTraitList, new { @class = "col-md-6 form-input" })
							@Html.ValidationMessageFor(model => model.SelectedNonMerchandiseTrait, null, new { @class = "col-md-4 form-property-val" })
						</div>
					</div>
                    <div class="row">
                        @Html.LabelFor(model => model.SubBrickCode, new { @class = "col-md-2 form-label" })
                        <div>
                            @Html.TextBoxFor(model => model.SubBrickCode, null, new { @class = "col-md-6 form-input" })
                            @Html.ValidationMessageFor(model => model.SubBrickCode, null, new { @class = "col-md-4 form-property-val" })
                        </div>
                    </div>     
                }
                else
                {
					<div class="row">
						@Html.LabelFor(model => model.GlAccount, new { @class = "col-md-2 form-label" })
						<div>
							@Html.TextBoxFor(model => model.GlAccount, new { @class = "col-md-6 form-input" })
							@Html.ValidationMessageFor(model => model.GlAccount)
						</div>
					</div>                    
				}
			}
		</fieldset>

		<div class="row">
			<div class="col-md-offset-2 col-md-1">
				<input type="submit" value="Create" class="btn btn-default form-submit" />
			</div>
		</div>

		<div class="validation-section page-subsection">
			@if (ViewData["ErrorMessage"] != null)
			{
				<div class="alert alert-danger alert-dismissable">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
					<strong>@ViewData["ErrorMessage"].ToString()</strong>
				</div>
			}
		</div>
	}
</div>

<div class="form-footer">
	@Html.ActionLink("Back to Hierarchy Management", "Index")
</div>