@using Infragistics.Web.Mvc
@using Icon.Web.Mvc.Utility
@model Icon.Web.Mvc.Models.ManufacturerViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{Html.RenderPartial("_HeaderPartial", "Manufacturers");}

<style>
    #divLinks {
        display: flex;
        align-items: center;
    }
</style>

<div id="manufacturers" class="page-section">
    <div id="divLinks">
        @Html.ActionLink("Export All Manufacturers", "Export", "Manufacturer", null, new { @class = "btn btn-light" })
        @if (ViewHelpers.HasWriteAccess(Request, User))
        {
            <span style="margin-left: 10px">@Html.ActionLink("Add New Manufacturer", "Create")</span>
        }
    </div>
    <hr />

    @(Html.Infragistics().Grid<Icon.Web.Mvc.Models.ManufacturerViewModel>()
            .ID("manufacturerGrid")
            .PrimaryKey("HierarchyClassId")
            .AvgRowHeight("25px")
            .Height("700px")
            .Width("100%")
            .AutoGenerateColumns(false)
            .Columns(columns =>
            {
                columns.For(c => c.HierarchyClassId).HeaderText("Manufacturer ID").DataType("number").Width("7%");
                columns.For(c => c.ManufacturerName).HeaderText("Manufacturer Name").DataType("string").Width("25%");
                columns.For(c => c.ZipCode).HeaderText("Zip Code").DataType("string").Width("10%");
                columns.For(c => c.ArCustomerId).HeaderText("AR Customer ID").DataType("string").Width("15%");
                columns.Unbound("ActionViewContacts").Template("&nbsp&nbsp&nbsp&nbsp <a href='/Contact/Contact?hierarchyClassId=${HierarchyClassId}'>View Contacts</a>").Width("18%").HeaderText("").Hidden((int)Model.UserWriteAccess == 1);
                columns.Unbound("ActionEdit").Template("&nbsp&nbsp&nbsp&nbsp <a href='/Manufacturer/Edit?hierarchyClassId=${HierarchyClassId}'>Edit</a>").Width("10%").HeaderText("").Hidden(Model == null ? true : ((int)Model.UserWriteAccess) == 0);
                //columns.Unbound("ActionDelete").Template("&nbsp&nbsp&nbsp&nbsp&nbsp <a href='/HierarchyClass/Delete?hierarchyClassId=${HierarchyClassId}'>Delete</a>").Width("10%").HeaderText("");
                columns.Unbound("ActionDelete").Template("&nbsp&nbsp&nbsp&nbsp&nbsp <input type='button' class='btn btn-link' value='Delete' style='color:darkred;' onclick='deleteHC(${HierarchyClassId})' />").Width("8%").HeaderText("").Hidden(Model == null ? true : !((Model.UserWriteAccess & Icon.Web.Common.Enums.WriteAccess.Full) == Icon.Web.Common.Enums.WriteAccess.Full));
            })
            .Features(features =>
            {
                features.Paging().PageSize(20);
                features.Sorting().Inherit(true);
                features.Filtering().Inherit(true);

            })
            .DataSourceUrl(Url.Action("All", "Manufacturer"))
            .DataBind()
            .Render())

    <div class="search-alert page-subsection"></div>

</div>

<div id="dlgConfirm" title="User Confirmation Required" style="display:none;">
    <div style="max-height:300px; box-sizing:border-box;">
        <p id="dlgInfo" />
        <div class="clearfix">
            <label id="dlgMsg" class="float-left"></label>
            <span id="msgSpinner" class="spinner-border spinner-border-sm float-right" role="status" style="display:none" />
        </div>

        <hr />
        <div id="finePrint" class="fine-print text-info">
            <span>In order to delete the following requirement must be met:</span>
            <ul>
                <li>Manufacturer should not have any item associated to it.</li>
                <li>Manufacturer should not have Contact associated to it. </li>
            </ul>
        </div>
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/Scripts/jquery.fileDownload.js")
    @Scripts.Render("~/Scripts/Manufacturer/manufacturer-index.js")
}