@model Icon.Web.Mvc.Models.MerchTaxMappingEditModel

@{
    ViewBag.Title = "Update Mapping";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{Html.RenderPartial("_HeaderPartial", "Merchandise Tax Association Management");}

@using (Html.BeginForm("Edit", "MerchTaxMapping", FormMethod.Post, new { @class = "begin-form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => Model.MerchandiseHierarchyClassId)

    <fieldset>
        <legend>Edit Merchandise/Tax Mapping</legend>

        <div class="row">
            @Html.LabelFor(model => Model.MerchandiseHierarchyClassLineage, new { @class = "col-md-3 form-label" })
            <div>
                @Html.TextBoxFor(model => Model.MerchandiseHierarchyClassLineage, new { @readonly = "readonly", @class = "col-md-6 form-input" })
            </div>
        </div>
        <div class="row">
            @Html.LabelFor(model => Model.TaxHierarchyClassName, new { @class = "col-md-3 form-label" })
            <div>
                @Html.DropDownListFor(model => Model.TaxHierarchyClassId, Model.TaxHierarchyClasses, "", new { @class = "col-md-6 form-input" })
            </div>
        </div>
    </fieldset>

    <div class="row">
        <div class="col-md-offset-3 col-md-1">
            <input type="submit" value="Update" class="btn btn-default form-submit" />
        </div>
    </div>
}

<div class="page-subsection">
    @if (ViewData["SuccessMessage"] != null)
    {
        <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>@ViewData["SuccessMessage"].ToString()</strong>
        </div>
    }

    @if (ViewData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>@ViewData["ErrorMessage"].ToString()</strong>
        </div>
    }
</div>

<div class="page-subsection">
    @Html.ActionLink("Return To Merchandise Tax Association Management", "Index")
</div>

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}
