@model Icon.Web.Mvc.Models.AttributeViewModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{Html.RenderPartial("_HeaderPartial", "Edit Attribute");}

<div class="page-section">
    @using (Html.BeginForm("Edit", "Attribute", FormMethod.Post, new { @class = "begin-form", id = "attributeForm" }))
    {
        @Html.AntiForgeryToken()

        <div class=" ">
            @if (ViewData["SuccessMessage"] != null)
            {
                <div class="alert alert-success alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <strong>@ViewData["SuccessMessage"].ToString()</strong>
                </div>
            }
            @if (ViewData["ErrorMessages"] != null)
            {
                <div class="alert alert-danger alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <ul>
                        @foreach (var message in ViewData["ErrorMessages"] as List<string>)
                        {
                            <li>@Html.Raw(message)</li>
                        }
                    </ul>
                </div>
            }
        </div>

        <fieldset>
            @Html.HiddenFor(model => model.AttributeId)
            @{Html.RenderPartial("~/Views/Attribute/Shared/_Attribute.cshtml", Model);}
            <div class="form-group">
                <input type="submit" class="form-control btn-success" value="Save" id="btnSubmit" />
            </div>


        </fieldset>
    }
</div>
@if (Model != null && (Model.UserWriteAccess & Icon.Web.Common.Enums.WriteAccess.Full) == Icon.Web.Common.Enums.WriteAccess.Full)
{
    <div class="form-footer">
        @Html.ActionLink("Back to Attributes", "Index") | @Html.ActionLink("Add New Attribute", "Create")
    </div>
}
else
{
    <div class="form-footer">
        @Html.ActionLink("Back to Attributes", "Index")
    </div>
}

<div id="divBlock" class="block" style="display: none;">
    <div class="block-message">
        <img src="\Content\Infragistics\css\structure\images\igLoadingSmall.gif" style="max-width: 35px; max-height: 35px; margin: 25px 0 0 10px;" />
        <label class="block-label">Please wait... <br /> &nbsp Processing request...</label>
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/Scripts/Attributes/attribute.js")
}