@model Icon.Dashboard.Mvc.ViewModels.AppLogReportViewModel
@{
    var globalViewData = ViewBag.GlobalViewData as Icon.Dashboard.Mvc.ViewModels.GlobalViewData;
}

@if (Model.RecentErrorsReportCollection != null && Model.RecentErrorsReportCollection.Reports.Any())
{
    <div class="container-wide">
        <div class="row">
            @{Html.RenderPartial("_RecentErrorsReportCollectionPartial", Model.RecentErrorsReportCollection);}
        </div>
    </div>
}

<p></p>

<div class="container-wide">
    <div class="row">
        <div class="form-group col-xs-12 col-sm-offset-3 col-sm-6 col-lg-4">
            <label class="control-label col-xs-3">Error Level:</label>
            <div class="col-xs-9">
                @Html.EnumDropDownListFor(m => m.ErrorLevel, "-error level", new { @class = "form-control" })
            </div>
        </div>
        <input class="hidden" id="appName" name="appName" value="@Model.AppName" />
        <input class="hidden" id="page" name="page" value="@Model.PaginationModel.CurrentPage" />
        <input class="hidden" id="pageSize" name="pageSize" value="@Model.PaginationModel.PageSize" />
        <input class="hidden" id="errorLevel" name="errorLevel" value="@Model.ErrorLevel" />
    </div>
</div>

<div class="container-wide">
    @{ Html.RenderPartial("_AppLogReportTablePartial", Model); }
</div>

<div id="pagingDiv">
    @{Html.RenderPartial("_PaginationPartial", Model.PaginationModel); }
</div>

@section scripts {
    <script type="text/javascript">
    @* javascript variables set from server-side Razor code for appLogs.js  *@
    var urlForTableRefresh = "@Url.Action(Model.ActionForTableRefresh, Model.ControllerName)";
    var urlForGetRecentErrorsAction = '@(Url.Action(Model.ActionForRecentErrors, Model.ControllerName))';
    var intervalMilliseconds = @globalViewData.MillisecondsForRecentErrorsPolling;
    var arrayOfFunctions = [];

    function buildArrayOfFunctions() {
        @foreach (var appID in Model.RecentErrorsReportCollection.ReportAppIDs)
        {
            @: var func@(appID) = function(){ getRecentErrors(@(appID), @(Model.HoursConsideredRecent));}
            @: arrayOfFunctions.push( func@(appID) );
        }
    }

    @* javascript variable set from server-side Razor code for redrawPaging.js*@
    var urlForRedrawPagingAction = "@(Url.Action(Model.ActionForRedrawPaging, Model.ControllerName)))";

    </script>

    @Scripts.Render("~/Scripts/appLogs.js")

    @Scripts.Render("~/Scripts/redrawPaging.js")
}
