@model Icon.Web.Mvc.Models.PluAssignmentSearchViewModel

@using (Ajax.BeginForm("Search", "PluAssignment", null, new AjaxOptions
{
    HttpMethod = "GET",
    UpdateTargetId = "searchResults",
    InsertionMode = InsertionMode.Replace,
    OnBegin = "searchButtonClick",
    OnSuccess = "displayResults",
    OnFailure = "displayModelValidation"
}, new { @class = "begin-form" }))
{
    <fieldset>
        <legend>Search Options</legend>
        
        <div class="form-group">
            @Html.LabelFor(model => Model.SelectedPluCategoryName, new { @class = "form-label" })
            <div>
                @Html.DropDownListFor(model => Model.SelectedPluCategoryId, Model.PluCategories, new { @class = "form-control form-input" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => Model.MaxPlus, new { @class = "form-label" })
            <div>
                @Html.TextBoxFor(model => Model.MaxPlus, new { @class = "form-control form-input" })
                @Html.ValidationMessageFor(model => model.MaxPlus, null, new { @class = "form-property-val" })
            </div>
        </div>
    </fieldset>

    <div class="form-group">
         <input type="submit" value="Search" class="btn btn-light form-submit" id="search-button" />
    </div>
    
    <div class="form-group">
        <div class="page-subsection">
            @Html.ValidationSummary(true)
        </div>
    </div>
}