@using Infragistics.Web.Mvc
@model Icon.Web.Mvc.Models.PluRequestEditViewModel

<h3>Request Details</h3>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>National PLU</th>
            <th>Brand</th>
            <th>Product Description</th>
            <th>POS Description</th>
            <th>Item Pack</th>
            <th>Size</th>
            <th>UOM</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.NationalPLU</td>
            <td>@Model.BrandName</td>
            <td>@Model.ProductDescription</td>
            <td>@Model.PosDescription</td>
            <td>@Model.PackageUnit</td>
            <td>@Model.RetailSize</td>
            <td>@Model.RetailUom</td>
        </tr>
    </tbody>
</table>


@if (Model.PluRequestChangeHistory.Count > 0)
{
    @(Html.Infragistics().Grid(Model.PluRequestChangeHistory.AsQueryable())
        .AutoGenerateColumns(false)
        .ID("igGrid")
        .Width("100%")
            .PrimaryKey("PluRequestChangeHistoryID")
        .RenderCheckboxes(true)
        .Columns(column =>
        {
            column.For(pr => pr.PluRequestChangeHistoryID).HeaderText("ID").Hidden(true).DataType("number");
            column.For(pr => pr.PluRequestChangeType).HeaderText("ChangeType").Width("8%").DataType("string");
            column.For(pr => pr.PluRequestChange).HeaderText("Change").Width("20%").DataType("string");
            column.For(pr => pr.InsertedUser).HeaderText("User").Width("8%").DataType("string");
            column.For(pr => pr.InsertedDate).HeaderText("Date").Width("8%").DataType("datetime");
        })
        
        .DataSource(Model.PluRequestChangeHistory.AsQueryable())
        .DataBind()
        .Render()
    );

   
}
else
{
    <h4>No Notes / Status changes are found - @DateTime.Now</h4>
}

