@model Icon.Web.Mvc.Models.PluRequestCreateViewModel

@{
    ViewBag.Title = "Create Request";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{Html.RenderPartial("_HeaderPartial", "PLU Request Management");}

<div class="page-section">
    @using (Html.BeginForm("Create", "PluRequest", FormMethod.Post, new { @class = "begin-form" }))
    {
        @Html.AntiForgeryToken()
        
        

    <fieldset>
        <legend>Create PLU Request</legend>

        <div class="form-group">
            @Html.LabelFor(model => model.NationalPLU, new { @class = "form-label" })
            @Html.TextBoxFor(model => model.NationalPLU, new { @class = "form-control form-input" })
            @Html.ValidationMessageFor(model => model.NationalPLU, null, new { @class = "form-property-val" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BrandName, new { @class = "form-label" })
            @Html.TextBoxFor(model => model.BrandName, new { @class = "form-control form-input .ui-autocomplete", data_icon_autocomplete = @Url.Action("BrandAutocomplete") })
            @Html.ValidationMessageFor(model => model.BrandName, null, new { @class = "form-property-val" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProductDescription, new { @class = "form-label" })
            @Html.TextBoxFor(model => model.ProductDescription, new { @class = "form-control form-input" })
            @Html.ValidationMessageFor(model => model.ProductDescription, null, new { @class = "form-property-val" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PosDescription, new { @class = "form-label" })
            @Html.TextBoxFor(model => model.PosDescription, new { @class = "form-control form-input" })
            @Html.ValidationMessageFor(model => model.PosDescription, null, new { @class = "form-property-val" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PackageUnit, new { @class = "form-label" })
            @Html.TextBoxFor(model => model.PackageUnit, new { @class = "form-control form-input" })
            @Html.ValidationMessageFor(model => model.PackageUnit, null, new { @class = "form-property-val" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RetailSize, new { @class = "form-label" })
            @Html.TextBoxFor(model => model.RetailSize, new { @class = "form-control form-input" })
            @Html.ValidationMessageFor(model => model.RetailSize, null, new { @class = "form-property-val" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RetailUom, new { @class = "form-label" })
            @Html.DropDownListFor(model => model.RetailUom, Model.RetailUoms, new { @class = "form-control form-input" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PluType, new { @class = "form-label" })
            @Html.DropDownListFor(model => model.PluType, Model.PluTypes, new { @class = "form-control form-input" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => Model.FinancialHierarchyName, new { @class = "form-label" })
            @Html.DropDownListFor(model => Model.FinancialHierarchyClassId, Model.FinanacialHierarchyClasses, "", new { @class = "form-control form-input" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => Model.NationalHierarchyName, new { @class = "form-label" })
            @Html.DropDownListFor(model => Model.NationalHierarchyClassId, Model.NationalHierarchyClasses, "", new { @class = "form-control form-input" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Notes, new { @class = "form-label" })
            @Html.TextBoxFor(model => model.Notes, new { @class = "form-control form-input" })
            @Html.ValidationMessageFor(model => model.Notes, null, new { @class = "form-property-val" })
        </div>
        
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-light form-submit" />
        </div>
    </fieldset>

     

        <div class="validation-section page-subsection">
            @if (ViewData["ErrorMessage"] != null)
            {
                <div class="alert alert-danger alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <strong>@ViewData["ErrorMessage"].ToString()</strong>
                </div>
            }
        </div>
    }
</div>

<div class="page-subsection">
    @if (TempData["CreateItemMessage"] != null)
    {
        <div id="createItemAlert" class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>@TempData["CreateItemMessage"].ToString()</strong>
        </div>
    }
</div>

<div class="form-footer">
    @Html.ActionLink("Back to PLU Request Search", "Index")
</div>

@section Scripts 
{
    @Scripts.Render("~/Scripts/apply-autocomplete.js")
    @Scripts.Render("~/Scripts/searchable-dropdown.js")
}
