<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @RenderSection("Styles", required: false)
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/datetimepicker")
</head>
<body>
    <div>
        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapsibleMenu">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="#" class="navbar-left hidden-xs" style="padding:6px;"><img src="~/Content/mammoth_grey.png"/></a>
                    @Html.ActionLink("Mammoth Suite Support", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div id="collapsibleMenu" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Create Events", "Index", "EventCreator")</li>
                        <li>@Html.ActionLink("GPM Just In Time Price Refresh", "Index", "PriceRefresh")</li>
                        <li>@Html.ActionLink("GPM Price Reset", "Index", "PriceReset")</li>
                        <li>@Html.ActionLink("All GPM Prices", "Index", "PricesAll")</li>
                        <li>@Html.ActionLink("GPM Checkpoint Request", "Index", "CheckPointRequest")</li>
                        <li>@Html.ActionLink("GPM Regional Status", "Index", "RegionGpmStatus")</li>
                        <li>@Html.ActionLink("Manage Jobs", "Index", "ManageJobs")</li>
                        <li>@Html.ActionLink("EPlum / ESL Load", "Index", "EPlumESLLoad")</li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">In Stock<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Requeue InStock Messages/Events", "Index", "MessageExport")</li>
                                <li>@Html.ActionLink("Regenerate InStock Events", "Index", "RegenerateEvents")</li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#"><span class="glyphicon glyphicon-user"></span>Hello, @User.Identity.Name!</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year Whole Foods Market Inc. <span style="float:right;">@DateTime.Now (UTC @DateTime.UtcNow.ToUniversalTime())</span></p>
        </footer>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
