<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/datetimepicker")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Icon and Mammoth Suite Support", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Mammoth Event Creator", "Index", "EventCreator")</li>
                </ul>
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Send Price Reset Message", "Index", "PriceReset")</li>
                </ul>
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Send Check Point Request To GPM", "Index", "CheckPointRequest")</li>
                </ul>
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Manage Jobs", "Index", "ManageJobs")</li>
                </ul>
                <p class="nav navbar-text navbar-right">Hello, @User.Identity.Name!</p>
            </div>
        </div>
    </div>
    @* add whitespace so the content won't be covered by navbar*@
    <div><br /><br /><br /></div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year Whole Foods Market Inc. <span style="float:right;">@DateTime.Now (UTC @DateTime.UtcNow.ToUniversalTime())</span></p>
        </footer>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
