@model IEnumerable<Icon.Dashboard.Mvc.ViewModels.IconAppLogViewModel>
@{
    string caption = ViewBag.Title ?? "ICON Dashboard Log Viewer";
    string pageInfo = String.Empty;
    string dataAttributes = String.Empty;
    Icon.Dashboard.Mvc.ViewModels.PaginationPageSetViewModel pageSetModel = null;

    if (ViewBag.PaginationPageSetViewModel != null)
    {
        pageSetModel = ViewBag.PaginationPageSetViewModel as Icon.Dashboard.Mvc.ViewModels.PaginationPageSetViewModel;
        pageInfo = $"(Page {pageSetModel.CurrentPage})";
    }
}

<div id="pagingDataTable" 
         data-page="@(pageSetModel?.CurrentPage)" 
         data-pageSize="@(pageSetModel?.PageSize)" 
         data-route-parameter="@(pageSetModel?.RouteParameter)">
    <table class="table table-bordered table-condensed table-striped no-bottom-margin">
        <caption class="text-center"><h3>@caption @pageInfo</h3></caption>
        <thead>
            <tr>
                <th class="text-center hidden-xs hidden-sm hidden-md">
                    @Html.DisplayNameFor(model => model.AppLogID)
                </th>
                <th class="text-center hidden-xs hidden-sm hidden-md">
                    @Html.DisplayNameFor(model => model.AppID)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.AppName)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.LogDate)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.Level)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.Message)
                </th>
                <th class="text-center hidden-xs">
                    @Html.DisplayNameFor(model => model.MachineName)
                </th>
                <th class="text-center hidden-xs hidden-sm">
                    @Html.DisplayNameFor(model => model.UserName)
                </th>
                <th class="text-center hidden-xs hidden-sm hidden-md">
                    @Html.DisplayNameFor(model => model.Logger)
                </th>
            </tr>
        </thead>
        <tbody id="logTableBody" class="text-center">
            @foreach (var logEntry in Model)
            {
                @Html.DisplayFor(model => logEntry)
            }
        </tbody>
    </table>
</div>